{% extends 'layout.html' %}

{% block page_info %}

        <div class='container_do_corpo_da_pagina'>
            <div class="container_do_formulario">
                
                <h1 class="titulo_documento">{{ titulo }}</h1>

                <h2>{{ tema }}<h2>

                <p>{{ questao }}</p><br><br>

                <div style="margin-left: 27.5%;">
                    <img width="350" src="{{url_for('static', filename='img/qrcode.png')}}"><br><br>
                </div>

                <button type="submit" class="btn_padrao"> Encerrar votação </button>
            
            </div>
        </div>

{% endblock %}

